# Git Ignore File - Altium Projects
# Kyle Dumont

Project Outputs*/
Project Logs*/
Assembly Exports/
__Previews/
History/
*.rawProject Outputs*/
Project Logs*/
Assembly Exports/
__Previews/
History/
*.PcbDoc.htm
.allspice/
.as-meta/
